@use './mixins' as m;

.app-container {
  @include m.flex-column;
  height: 100vh;
  padding: 1rem;

  .main-layout {
    @include m.flex-row;
    height: 100%;
    gap: 1rem;
    
    @include m.mobile {
      flex-direction: column;
    }
  }
}

.loading {
  @include m.center-content;
  height: 100vh;
  font-size: 1.5rem;
}