.dialog {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: hsl(var(--background));
    padding-right: 16px;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.5rem;
    background-color: hsl(var(--background));
    border-bottom: 1px solid hsl(var(--border) / 0.6);
    /* Helps with looking aligned to rounded corners */
    padding: 0 2px;
}

.dialog-header .character-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.dialog-header h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: hsl(var(--foreground));
    margin: 0;
}

.dialog-header .character-title {
    font-size: 0.9rem;
    color: hsl(var(--muted-foreground));
    margin: 0;
}

.dialog-actions {
    display: flex;
    gap: 8px;
}

.dialog-content {
    flex: 1;
    /* overflow-y: auto; */
    overflow: hidden;
    border-radius: 8px;
    background: linear-gradient(135deg, hsl(270, 70%, 25%), hsl(280, 70%, 15%));
}

.dialog-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    background-color: hsl(var(--background));
    /* Helps with looking aligned to rounded corners */
    padding: 0 2px;
}

.dialog-footer .chat {
    width: 100%;
}

.dialog-footer .chat input {
    width: 100%;
    margin-right: 10px;
}

.dialog-footer .tip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    color: hsl(var(--muted-foreground) / 0.8);
    margin-top: 8px;
    font-size: 0.8rem;
    font-style: italic;
}

.chat-messages {
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100%;
}

.chat-messages .message {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding: 12px;
    background-color: hsl(var(--background) / 0.5);
    border: 1px solid hsl(var(--muted));
    border-radius: var(--radius);
    color: hsl(var(--foreground));
    max-width: 65%;
    margin-bottom: 16px;
}

.chat-messages .message:last-child {
    margin-bottom: 0;
}

.chat-messages .message.assistant + .message.assistant {
    margin-top: -8px;
}

.chat-messages .message.user + .message.user {
    margin-top: -8px;
}

.chat-messages .message .message-avatar {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    font-weight: 500;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.chat-messages .message.assistant {
    background: none;
    border: none;
}

.chat-messages .message.user {
    align-self: flex-end;
}

audio.character-voice{
    display: none;
}